extends layout
block content

  .itsbody
    .itsform
      .form
        form#loginForm.login-form(action="/API_GET" method="POST" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8")

          input#inputIP(data-qa='inputIP' type='text' name='inputIP' value='192.168.12.162')

          input#inputPort(data-qa='inputPort' type='text' name='inputPort' value='9200')

          input#inputDir(data-qa='inputDir' type='text' name='inputDir' value='/_cat/indices')

          button#get_api(data-qa='submit' type='submit') GET API      
      .form
        form#loginForm.login-form(action="/API_GET" method="POST" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8")

          input#inputIP(data-qa='inputIP' type='text' name='inputIP' value='192.168.12.162')

          input#inputPort(data-qa='inputPort' type='text' name='inputPort' value='9200')

          input#inputDir(data-qa='inputDir' type='text' name='inputDir' value='/_cat/')

          button#get_api(data-qa='submit' type='submit') GET API
      .form
        form#loginForm.login-form(action="/API_GET" method="POST" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8")

          input#inputIP(data-qa='inputIP' type='text' name='inputIP' value='192.168.12.133')

          input#inputPort(data-qa='inputPort' type='text' name='inputPort' value='9200')

          input#inputDir(data-qa='inputDir' type='text' name='inputDir' value='')

          button#get_api(data-qa='submit' type='submit' ) GET API      
          
            
    .response
      if message_error
        h3  Mala suerte       
      else if message_result
        h3  Hecho!  
        //script(type="text/javascript").
         //var stringindices= !{message_result};
         // var resback = stringindices.split('%');
          //var aaa = message_result;
          //var stringIndices =JSON.parse('!{message_result}');
          //document.getElementById('listIndices').innerHTML= stringIndices;
          //console.log(aaa);
          //console.log(listIndices);
          //h3  Hecho! #{message_result}
          //console.log(stringindices);
          //message_result.forEach(element => {console.log(element);});
      else 
        h3 Click it!   
      span 
        p(data-qa='message' style='color:red') #{message_error}
      span 
        p(data-qa='message' style="word-wrap: break-word; white-space: pre-wrap; color:blue;") #{message_result}
      span 
        p(data-qa='message' style='color:blue') #{message_mock} 



